set_io clk_100 129

set_io ad_clk 10 

set_io ad[0] 20
set_io ad[1] 18
set_io ad[2] 19
set_io ad[3] 17
set_io ad[4] 16
set_io ad[5] 12
set_io ad[6] 15
set_io ad[7] 11

set_io led[0] 34
set_io led[1] 33
set_io led[2] 22
set_io led[3] 21
set_io led[4] 32
set_io led[5] 31
set_io led[6] 26
set_io led[7] 25

