set_io leds[0] 34
set_io leds[1] 33
set_io leds[2] 22
set_io leds[3] 21
set_io leds[4] 32
set_io leds[5] 31
set_io leds[6] 26
set_io leds[7] 25

set_io switches[0] 8
set_io switches[1] 10
set_io switches[2] 7
set_io switches[3] 9
set_io switches[4] 4
set_io switches[5] 2
set_io switches[6] 3
set_io switches[7] 1


